<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.44.4396.18853" />
  <package id="dotless" version="1.2.2.0" />
  <package id="DotLiquid" version="1.6.1.0" />
  <package id="MarkdownDeep.NET" version="1.4" />
  <package id="RazorEngine" version="3.0.8" />
  <package id="System.IO.Abstractions" version="1.4.0.12" />
  <package id="YamlDotNet.Core" version="1.1.14" />
  <package id="YamlDotNet.RepresentationModel" version="1.1.14" />
</packages>