<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{% include head.html %}
	<body>
		<div id="container">
			<div id="side">
				<a href="/" id="home" title="home" alt="home"><img src="/img/logo.png" alt="Site Name" /></a>
				<div id="hometext"><a href="/" >Site Name</a></div>
				<div class="section">
					<ul>
						<li><a href="/about.html">about</a></li>
						<li><a href="/rss.xml"><img src="/img/25.png" /> feed</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				{{content}}
			</div>
		</div>
		<script src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>